@media all and (min-width: 1400px) {
	.hero_content_area {
		max-width: 636px;
		float: right;
	}
 
}
@media all and (max-width: 1266px) {
	.main_manu ul li a {
		font-size: 14px;
		margin-right: 25px;
	}

}

