
@media all and (min-width: 1400px) {
	.hero_content_area {
		max-width: 636px;
		float: right;
	}

}
@media all and (max-width: 1199px) {
	.hero_content_area h1 {
		font-size: 30px;
		line-height: 42px;
		padding-bottom: 12px;
	}
	.hero_content_area h5 {
		font-size: 20px;
		line-height: 27px;
		padding-bottom: 14px;
	}
	.hero_content_area p {
		font-weight: 500;
		font-size: 15px;
		line-height: 26px;
	}
	p {
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: #666666;
	}
	.sp {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.services_single_item {
		margin-bottom: 40px;
	}
	.services_single_item p {
		font-size: 15px;
		line-height: 22px;
		width: 100%;
	}
	.border_top_d {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.work_easier_text h2 {
		font-size: 30px;
		line-height: 35px;
		padding-bottom: 9px;
	}
	.accordion-button {
		font-size: 16px;
		padding: 10px 20px;
	}
	.accordion-body p {
		font-size: 14px;
		line-height: 24px;
	}
	.work_scroll_image {
		height: 442px;
	}
	.control_content img {
		height: 50px;
	}
	.control_content a {
		font-size: 16px;
		line-height: 28px;
		padding: 9px 29px;
		margin-top: 22px;
	}
	.control_content h4 {
		font-size: 18px;
		line-height: 25px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.contorl_image_scroll {
		height: 353px;
	}
	.future_title h4 {
		font-size: 30px;
		line-height: 35px;
		padding-bottom: 16px;
	}
	.transcribing_section.bg_white.sp {
		padding-top: 200px;
	}
	.transcribin_item p {
		font-size: 15px;
		line-height: 24px;
	}
	.transcribin_item {
		width: 100%;
	}
	.transcribin_item h4 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2) {
		width: 26%;
	}
	.benifits_table {
		margin-bottom: -130px;
	}
	.benifits_table .table thead tr th {
		font-size: 16px;
		line-height: 20px;
		padding: 12px 15px;
	}
	.benifits_table .table tbody tr td {
		font-size: 14px;
		line-height: 20px;
		padding: 12px 15px;
	}
	.p_small_price strong {
		font-size: 27px;
		line-height: 35px;
	}
	.price_content h4 {
		font-size: 33px;
		line-height: 40px;
	}
	.price_discunt strong {
		font-size: 37.818px;
		line-height: 41px;
	}
	.price_discunt a {
		font-size: 19px;
		line-height: 19px;
		padding: 12px 24px;
	}
	.footer_content {
		width: 563px;
	}
	.footer_content p{
		width: 563px;
	}
	.money_back_content h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.money_back_image img {
		width: 250px;
	}
}
@media all and (max-width: 991px) {
	.footer_content::after {
		display: none;
	}
	.footer_content {
		width: 100%;
	}
	.footer_content p{
		width: 100%;
	}
	.footer_area.sp {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.footer_content h3 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 6px;
	}
	.footer_content a {
		font-size: 16px;
		line-height: 28px;
		padding: 9px 29px;
		margin-top: 22px;
	}
	.hero_content_area {
		max-width: 720px;
		float: inherit;
		padding: 10px;
		margin: auto;
	}
	.hero_image {
		position: relative;
		max-width: 720px;
		padding: 10px;
		margin: auto;
	}
	.header_area {
		padding-bottom: 0;
	}
	.header_content {
		padding-bottom: 90px;
	}
	.work_scroll_image {
		height: 350px;
		margin-right: 0px;
		margin-bottom: 60px;
	}
	.work_accrodion {
		padding: 15px 0px;
	}
	.control_content {
		padding-right: 0;
	}
	.future_image_scroll {
		height: 350px;
		margin-bottom: -161px;
	}
	.transcribing_section.bg_white.sp {
		padding-top: 145px;
	}
	.transcribin_item_2::after {
		display: none;
	}	
	.transcribin_item h4 {
		margin-bottom: 5px;
	}
	.transcribin_item {
		width: 100%;
		margin-bottom: 20px;
	}
	.left_right_arrow {
		margin-right: 20px;
		margin-top: 10px;
	}
	.subcribe_now_btn button {
		width: 45%;
	}
	.subcribe_now_btn input {
		width: 60%;
	}
	.p_small_price strong {
		font-size: 22px;
		line-height: 36px;
	}
	.price_content h4 {
		font-size: 21px;
		line-height: 29px;
		width: 168px;
	}
	.price_discunt strong {
		font-size: 33.818px;
		line-height: 37px;
	}
	.work_easier_text p {
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: #666666;
	}
}
@media all and (max-width: 767px) {
	.contorl_image_scroll {
		height: 250px;
		margin-top: 40px;
	}
	.sub_image {
		text-align: center;
		margin-top: 40px;
	}
	.sub_image img {
		width: 225px;
		margin: auto;
	}
	.row.custom_row_class {
		padding: 30px 15px !important;
	}
	.subcribe_now_btn input {
		width: 70%;
		font-size: 14px;
		line-height: 22px;
		padding: 13px 17px;
	}
	.subcribe_now_btn button {
		width: 33%;
		font-size: 14px;
		line-height: 22px;
		padding: 13px 17px;
	}
	.price_content_area {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin-top: 31px;
	}
	.price_section_area {
		padding-top: 124px;
		padding-bottom: 55px;
	}
	.money_back_image {
		float: inherit;
		text-align: center;
		margin-top: 40px;
	}
}
@media all and (max-width: 575px) {
	.setting ul li:first-child {
		margin-right: 10px;
	}
	.setting ul li a {
		font-size: 14px;
		line-height: 22px;
		padding: 10px 20px;
	}
	.hero_content_area {
		padding: 0px;
		padding-bottom: 10px;
	}
	.hero_image {
		padding: 0;
	}
	.services_single_item p {
		width: 70%;
	}
	.work_man_imge {
		float: inherit;
		text-align: center;
		margin-top: 20px;
	}
	.work_scroll_image {
		height: 280px;
		margin-bottom: 35px;
	}
	.sp {
		padding-top: 45px;
		padding-bottom: 40px;
	}
	.future_image_scroll {
		height: 280px;
	}
	.slider_image_item {
		padding: 0px 8px;
	}
	.row.custom_row_class {
		padding: 30px 0px !important;
	}
	.subcribe_now_btn button {
		width: 41%;
	}
	.subcribe_now_btn input {
		width: 59%;
	}
	.subs_content p {
		margin-bottom: 25px;
	}
	.benifits_table .table thead tr th {
		font-size: 13px;
		line-height: 17px;
		padding: 9px 9px;
	}
	.benifits_table .table tbody tr td {
		font-size: 13px;
		line-height: 17px;
		padding: 9px 9px;
	}
	.border_top_ben {
		margin-bottom: 41px;
	}
	.footer_content h3 {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 6px;
	}
	.footer_content p {
		margin-bottom: 15px;
	}
	.money_back_content p {
		padding-bottom: 21px;
	}

}

@media all and (max-width: 413px) {
	.subcribe_now_btn button {
		width: 45%;
	}
	.subcribe_now_btn input {
		width: 55%;
	}
	.logo a img {
		width: 80%;
	}
	.money_back_content h2 {
		font-size: 25px;
		line-height: 32px;
	}

}

